[Unit]
Description=consul_service
After=network.target

[Service]
ExecStart=/usr/local/bin/consul agent -config-file=/etc/consul.d/consul.hcl
Restart=always
User=root

# перезапуск при падении
Restart=on-failure
RestartSec=5s

User=root

# настройки лимитов (может открывать много файлов и потоков)
LimitNOFILE=65536
LimitNPROC=infinity

[Install]
WantedBy=multi-user.target
